.root {
  font-size: 1.5rem;
  border-bottom: 1px solid gainsboro;
  scroll-margin-top: 2rem;
  display: flex;
  color: #525252;
  background-color: white;

  & > * {
    width: 100%;
  }

  &.subHeader {
    color: white;
    background-color: #525252;
    position: sticky;
    top: -4px;
    scroll-margin-top: 0;
  }
  &:target:not(.subHeader) {
    color: tomato;
  }
  &:last-of-type {
    border-bottom: none;
  }
  &:hover:not(.subHeader) {
    background-color: whitesmoke;
  }
}
