.root {
  flex: 1;
  position: sticky;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  overflow: auto;
  &.center {
    justify-content: center;
    align-items: center;
  }
  .cols {
    display: flex;
    .col {
      flex: 1;
    }
  }
}
